<section class="section three-card">
  <div class="container">
    <h2 class="title is-2 is-centered">Advanced Statistics</h2>
    <p class="description">Track how your links are performing across the web with <br />our
      advanced statistics dashboard.</p>
      <div class="columns is-8">
        <div class="column is-one-fifth is-offset-one-fifth">
          <div class="card">
            <div class="card-icons">
              <img src="../../assets/images/icon-brand-recognition.svg" alt="">
            </div>
          <div class="card-content">
            <div class="content">
              <h3 class="title is-5">Brand Recognition</h3>
              <p>Boost your brand recognition with each click. Generic links don’t
                mean a thing. Branded links help instil confidence in your content.</p>
            </div>
          </div>
        </div>
        </div>

        <div class="column is-one-fifth ">
          <div class="card">
            <div class="card-icons">
              <img src="../../assets/images/icon-detailed-records.svg" alt="">
            </div>
          <div class="card-content">
            <div class="content">
              <h3 class="title is-5">Detailed Records</h3>
              <p>Gain insights into who is clicking your links. Knowing when and where
                people engage with your content helps inform better decisions.</p>
            </div>
          </div>
        </div>
        </div>

        <div class="column is-one-fifth ">
          <div class="card">
            <div class="card-icons">
              <img src="../../assets/images/icon-fully-customizable.svg" alt="">
            </div>
          <div class="card-content">
            <div class="content">
              <h3 class="title is-5">Fully Customizable</h3>
              <p>Improve brand awareness and content discoverability through customizable
                links, supercharging audience engagement.</p>
            </div>
          </div>
        </div>
    </div>  </div>


  </div>
</section>